# 01 Write a program in Python to find the addition & average of three float numbers

In [1]:
a=float(input("Enter number 1:"))

b=float(input("Enter number 2:"))
c=float(input("Enter number 3:"))

print(f"Sum:{a+b+c} \nAverage:{(a+b+c)/3}")

Enter number 1: 3
Enter number 2: 4
Enter number 3: 5

Sum:12.0
Average:4.0

# 02 Write a program in Python to find the volume of a sphere with radius  6cm.

In [2]:
import math

radius=6
volume = (4/3) * math.pi * (radius ** 3)
print(f"The volume of the sphere with radius {radius} cm is {volume:.2f} cubic centimeters.")

The volume of the sphere with radius 6 cm is 904.78 cubic centimeters.

# 03 Write a program in Python to find the area of a circle.

In [3]:

radius = float(input("Enter the radius of the circle: "))
area = math.pi * (radius ** 2)

print(f"The area of circle {radius} cm is {area} square centimeters.")

Enter the radius of the circle:  12

The area of circle 12.0 cm is 452.39 square centimeters.

# 04 Write a program in Python to compute simple Interest.

In [4]:
princple=float(input("Enter princple amount:"))
rate=(float(input("Enter the annual interest rate (r) in percentage: ")) )/ 100
time=float(input("Enter time in year:"))

print(f"The simple interest is {princple*rate*time}")

Enter princple amount: 10000
Enter the annual interest rate (r) in percentage:  5
Enter time in year: 10

The simple interest is 5000.0

# 05 Write a program in Python to swap two numbers without using third variable

In [5]:
a=int(input("A:"))
b=int(input("B:"))

a=a+b
b=a-b
a=a-b

print(f"A:{a}\nB:{b}")

A: 2
B: 3

A:3
B:2

# 06 Write a program in Python to convert any temperature from Celcius to Fahrenheit.

In [6]:

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (9/5) * celsius + 32
print(f"Temperature in Fahrenheit is: {fahrenheit:.2f}")

Enter temperature in Celsius:  100

Temperature in Fahrenheit is: 212.00

# 07 Write a program in Python to convert a given number of days into days, month, year and week.

In [7]:
d=int(input("Enter number of days:"))

temp=d%365
year=d//365
temp1=temp%30
month=temp//30
days=temp1%7
week=temp1//7

print(f"Number of year:{year}\nMonth:{month}\nWeek:{week}\nDays:{days}")

Enter number of days: 365

Number of year:1
Month:0
Week:0
Days:0

# 08 Write a Python Program to find the gravitational force acting between two objects. 
F=G*(m1*m2)/d^2  G=6.674*10^-11  Nm^2/Kg^2]

In [8]:
d=float(input("Enter distance  between two object in meters:"))
m1=float(input("Enter first object weight in Kg:"))
m2=float(input("Enter second object weight in Kg:"))

G=6.674*10**11

F=G*(m1*m2)/d**2
print(f"Gravitational force between two object is {F}")

Enter distance  between two object in meters: 200
Enter first object weight in Kg: 4
Enter second object weight in Kg: 5

Gravitational force between two object is 333700000.0

# 09
Write a program in Python to find given no is Even or Odd.

In [9]:
n=float(input("Enter a number:"))

if n%2==0:
    print(f"The given number {n} is even")
else:
    print(f"The given number {n} is odd")

Enter a number: 13

The given number 13.0 is odd

# 10 Take input from user if it is greater than 15 print two times of difference if it’s less than 15 print four times of difference.

In [10]:
n = float(input("Enter a number: "))
d = n - 15
if n > 15:
    r = 2 * d
    print(f"The number is greater than 15. Two times the difference is: {r}")
else:
    r= 4 * d
    print(f"The number is less than or equal to 15. four times the difference is: {r}")

Enter a number:  14

The number is less than or equal to 15. four times the difference is: -4.0

# 11 Write a program in Python to find largest among three numbers.

In [11]:
n1= float(input("Enter  number 1: "))
n2= float(input("Enter  number 2: "))
n3= float(input("Enter  number 3: "))

if (n1>n2 and n1>n3):
    print(f"{n1} is largest among of three number")
elif (n2>n1 and n2>n3):
    print(f"{n2} is largest among of three number")
else:
    print(f"{n3} is largest among of three number")

Enter  number 1:  4
Enter  number 2:  7
Enter  number 3:  2

7.0 is largest among of three number

# 12 Write a program in Python to check a triangle is equilateral,scalene or isosclees..

In [12]:
s1=float(input("Enter the length of first side:"))
s2=float(input("Enter the length of second side:"))
s3=float(input("Enter the length of third side:"))

if s1 + s2 > s3 and s2 + s3 > s1 and s3 + s1 > s2:
    if s1 == s2 == s3:
        print("The triangle is equilateral.")
    elif s1 == s2 or s2 == s3 or s3 == s1:
        print("The triangle is isosceles.")
    else:
        print("The triangle is scalene.")
else:
    print("The lengths provided do not form a valid triangle.")

Enter the length of first side: 17
Enter the length of second side: 18
Enter the length of third side: 19

The triangle is scalene.

# 13 Write a program in Python to check a given year is leapyear or not.

In [13]:
n=int(input("Enter year:"))

if n%400==0:
    print(f"{n} is a leap year")
elif n%100==0:
    print(f"{n} is not a leap year")
elif n%4==0:
    print(f"{n} is a leap year")
else:
    print(f"{n} is not a leap year")

Enter year: 3000

3000 is not a leap year

# 14 Take marks of a student of four different subject find average depending on average find Grade(if marks >=75 i.e,’A’ or >=60 but <=75 i.e,’B’ or >=40 but <=60 i.e,’C’ or <=40 i.e,’D’).

In [14]:
m1 = float(input("Enter the marks  first subject: "))
m2 = float(input("Enter the marks second subject: "))
m3 = float(input("Enter the marks third subject: "))
m4 = float(input("Enter the marks fourth subject: "))

avg = (m1 + m2 + m3 + m4) / 4

if avg >= 75:
    grade = 'A'
elif avg >= 60:
    grade = 'B'
elif avg >= 40:
    grade = 'C'
else:
    grade = 'D'
print(f"The average marks are: {avg}")
print(f"The grade is: {grade}")

Enter the marks  first subject:  67
Enter the marks second subject:  89
Enter the marks third subject:  56
Enter the marks fourth subject:  90

The average marks are: 75.5
The grade is: A

# 15 Write a program in Python to implement a simple calculator

In [15]:
n1 = float(input("Enter the first number: "))

print("Select operation:")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
ch = input("Enter choice (1/2/3/4): ")

n2 = float(input("Enter the second number: "))

if ch == '1':
    r = n1 + n2
    print(f"The result of addition is: {r}")
elif ch == '2':
    r = n1 - n2
    print(f"The result of subtraction is: {r}")
elif ch == '3':
    r = n1 * n2
    print(f"The result of multiplication is: {r}")
elif ch == '4':
    if n2 != 0:
        r = n1 / n2
        print(f"The result of division is: {r}")
    else:
        print("Error! Division by zero is not allowed.")
else:
    print("Invalid input! Please enter a number between 1 and 4.")

Enter the first number:  4

Select operation:
1. Addition
2. Subtraction
3. Multiplication
4. Division

Enter choice (1/2/3/4):  2
Enter the second number:  7

The result of subtraction is: -3.0

# 16 Write a program in Python to find the roots of Quadratic equation.

In [16]:
import cmath

a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

d = b**2 - 4*a*c

r1 = (-b + cmath.sqrt(d)) / (2*a)
r2 = (-b - cmath.sqrt(d)) / (2*a)

print(f"The roots of the quadratic equation are: {r1} and {r2}")

Enter the coefficient a:  34
Enter the coefficient b:  56
Enter the coefficient c:  78

The roots of the quadratic equation are: (-0.8235294117647058+1.2711872226455476j) and (-0.8235294117647058-1.2711872226455476j)

# 17 Write a program in Python to print 1 to n.

In [17]:
n = int(input("Enter the value of n: "))

for i in range(1, n + 1):
    print(i)

Enter the value of n:  5

1
2
3
4
5

# 18 Write a program in Python to print sum of natural number.

In [18]:
n = int(input("Enter the value of n: "))

sum= (n * (n + 1)) // 2

print(f"The sum of natural numbers from 1 to {n} is {sum}")

Enter the value of n:  7

The sum of natural numbers from 1 to 7 is 28

# 19 Write a program in Python to print Sum of Digit.

In [19]:
n = int(input("Enter a number: "))
x=0
while n!=0:
    x+=n%10
    n=n//10
print(f"The sum of the digits is {x}")

Enter a number:  177

The sum of the digits is 15

# 20 Write a program in Python to print Factors of a Number.

In [20]:
n = int(input("Enter a number: "))

print(f"Factors of {n} are:")
for i in range(1, n + 1):
    if n % i == 0:
        print(i)

Enter a number:  7

Factors of 7 are:
1
7

# 21 Write a program in Python to print Reverse of a Number.

In [21]:
n = int(input("Enter a number: "))
x=0
temp=0
t=n
while n!=0:
    x=n%10
    temp=x+temp*10
    n=n//10
print(f"reverse of {t} is {temp}")

Enter a number:  123

reverse of 123 is 321

# 22 Write a Python program to find Factorial of a given number.

In [22]:
n = int(input("Enter a number: "))
x=1
while n!=0:
    x=x*n
    n=n-1
    
print(f"n! = {x}")

Enter a number:  5

n! = 120

# 23 Write a Python program to check a number is palindrome or not.

In [23]:
n = int(input("Enter a number: "))
x=0
temp=0
t=n
while n!=0:
    x=n%10
    temp=x+temp*10
    n=n//10

if t==temp:
    print(f"The number {t} is a plindrome")
else:
    print(f"The number {t} is not a plindrome")

Enter a number:  123

The number 123 is not a plindrome

# 24 Write a Python program to check a number is prime or not.

In [24]:
n = int(input("Enter a number: "))

for i in range(2,(int(n**0.5) + 1)):
        if n % i == 0:
            print(f"{n} is not a prime number.")
            break
            
        else:
         print(f"{n} is a prime number.")

Enter a number:  45

45 is a prime number.
45 is not a prime number.

# 25 Write a Python program to check a number is Armstrong or not.

In [25]:

n =int(input("Enter a number:"))
n1=str(n)
length=len(n1)
t=n
temp=0
while n!=0:
    x=n%10
    temp +=x**length
    n=n//10

if t==temp:
    print(f"The given number {t} is a armstrong")
else:
      print(f"The given number {t} is not a armstrong")

Enter a number: 153

The given number 153 is a armstrong

# 26 Write a Python program to print Fibonacci series of n term

In [26]:
n =int(input("Enter a range:"))
a=0 
for i in range(1,n+1):
    print(a,end=' ')
    a=a+i

Enter a range: 7

0 1 3 6 10 15 21

# 27 Write a Python program to implement multiplication table.

In [27]:
n =int(input("Enter  table:")) 
for i in range(1,11):
    print(f"{n} x {i} = {n*i}")

Enter  table: 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# 28 Write a Python program to take a input from user in a list and print it.

In [28]:
n = int(input("Enter the number of elements in the list: "))

list = []
for i in range(n):
    en= input("Enter an element: ")
    list.append(en)

print(list)

Enter the number of elements in the list:  3
Enter an element:  12
Enter an element:  hello
Enter an element:  90

['12', 'hello', '90']

# 29 Write a Python program to find the average of n numbers using list.

In [2]:
n = int(input("Enter the number of elements in the list: "))

num = []
for i in range(n):
    en =float(input("Enter an element: "))
    
    num.append(en)
avg =sum(num)/n
print(f"The average is {avg}")

Enter the number of elements in the list:  3
Enter an element:  3
Enter an element:  4
Enter an element:  5

The average is 4.0

# 30 Write a Python program to find the largest element in the list.

In [30]:
n = int(input("Enter the number of elements in the list: "))

lar= []
for i in range(n):
    en =float(input("Enter an element: "))
    lar.append(en)
la = max(lar)
print(f"The largest element is {la}")

Enter the number of elements in the list:  3
Enter an element:  23
Enter an element:  4
Enter an element:  67

The largest element is 67.0

# 31 Write a Python program to perform Linear search.

In [31]:
n = int(input("Enter the number of elements in the list: "))

arr= []
for i in range(n):
    en =float(input("Enter an element: "))
    arr.append(en)
    
index = -1
target=float(input("Enter the target element"))

for i in range(len(arr)):
    if arr[i] == target:
        index = i
        break

if index != -1:
    print(f"Element found at index {index}")
else:
    print("Element not found")

Enter the number of elements in the list:  4
Enter an element:  5
Enter an element:  6
Enter an element:  7
Enter an element:  7
Enter the target element 8

Element not found

# 32 Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. 

Suppose the following input is supplied to the program: 

Hello world 

Practice makes perfect 

Then, the output should be: 

HELLO WORLD 

PRACTICE MAKES PERFECT

In [32]:
lines = ["Hello world","Practice makes perfect"]

for i in lines:
    print(i.upper())

HELLO WORLD
PRACTICE MAKES PERFECT

# 33 Write a program which accepts a sequence of comma‐separated numbers from console and generate a list and a tuple which contains every number. 

Suppose the following input is supplied to the program: 

34,67,55,33,12,98 

Then, the output should be: 

['34', '67', '55', '33', '12', '98'] 

('34', '67', '55', '33', '12', '98')

In [33]:
input_numbers = str(input("Enter number:"))

numbers_list = input_numbers.split(',')
numbers_tuple = tuple(numbers_list)

print(numbers_list)
print(numbers_tuple)

Enter number: 34,67,55,33,12,98

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# 34 Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: 

D 100 

W 200 

¡ 

D means deposit while W means withdrawal. 

Suppose the following input is supplied to the program: 

D 300 

D 300 

W 200 

D 100 

Then, the output should be: 

500

In [34]:
user=input("Enter the list of transaction : ")
s=user.split(',')

balance=0
for i in s:
    if "D" in i :
        i=i.replace("D","")
        i=float(i)
        balance=balance+i
    elif "W" in i:  
         i=i.replace("W","")
         i=float(i) 
         balance=balance-i
    else:
        pass

print(f"Total balance is : {balance}")

Enter the list of transaction :  D 300,D 300,W 200,D 100

Total balance is : 500.0